*{
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 25px;
}

.flex-container{
    width: 100%;
    min-height: 100px;
    background-color: gray;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
}

.flex-container1{
    width: 100%;
    min-height: 100px;
    background-color: gray;
    display: flex;
    margin: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.flex-container2{
    width: 100%;
    min-height: 100px;
    background-color: gray;
    display: flex;
    margin: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.flex-container3{
    width: 100%;
    min-height: 100px;
    background-color: gray;
    display: flex;
    margin: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.box{
    height: 200px;
    width: 200px;
    margin: 8px;
    display: flex;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.rectangle{
    min-height: 150px;
    width: 100%;
    margin: 8px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 250px;
    width: 100%;
    object-fit: fill;
    display: flex;
}

h1{
    color: rebeccapurple;
    text-align: center;

}

h2{
    color: rebeccapurple;
    text-align: left;
}

h3{
    color: rebeccapurple;
    text-align: right;
}

p{
    text-align: center;
    color: white;

}


nav{
    text-align: right;
    background-color: darkgray;
    margin-left: 8px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    margin-right: 8px;

}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .flex-container, .flex-container1, .flex-container2, .flex-container3, .nav {
        flex-direction: column;
    }
}